<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Nodepop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>¡Bienvenidos a Nodepop!</h1>
    <p>Práctica realizada por Beatriz Martín</p>
    <p>mail de contacto: martin_beatriz94@hotmail.com</p>
    <button href="" id="sale_buy" onclick="load_page(this.id)">Ver todos los artículos</button>
    <button id="sale_items" onclick="load_page(this.id)">Vender artículos</button>
    <button id="buy_items" onclick="load_page(this.id)">Comprar artículos</button>
    <button onclick="window.location = '/api/ads/tags'"> ARTÍCULOS POR TAGS </button>
    <script src="/javascripts/functions.js"></script>
  </body>
</html>
